.yellow{
    color: $yellow-color;
    padding-right:15px;
    &:hover{
        transform: scale(1.5);
        cursor:pointer;
    }
}

.red{
    color:$red-color;
    &:hover{
        transform: scale(1.5);
        cursor:pointer;
    }
}