.yellow{
    color: $yellow-color;
    transition: transform 0.2s ease;
    &:hover{
        transform: scale(1.5);
        transition: transform 0.2s ease;
    }
}

.red{
    color:$red-color;
    transition: transform 0.2s ease;
    &:hover{
        transform: scale(1.5);
        transition: transform 0.2s ease;
    }
}