$font: 'Varela Round',sans-serif;
$body-hover-color: #F5F5F5;
$nav-color: #435D7D;
$green-button:#449D44;
$yellow-color:#FFC720;
$red-color:#F5564B;
$table-gray-color: #fcfcfc;
$white-color:#FFFFFF;
$text-color:#566787;

