$font: 'Varela Round',sans-serif;
$body-hover-color: #F5F5F5;
$nav-color: #435D7D;
$green-button:#5cb85c;
$green-button-hover:#398439; 
$yellow-color:#FFC720;
$red-color:#F5564B;
$table-gray-color: #f9f9f9;
$white-color:#FFFFFF;
$text-color:#566787;
$focus-color: #66afe9;
$modal-footer-background: #ecf0f1;
