body {
    background-color: $body-hover-color;
    box-sizing: border-box;
    font-family: $font;
    font-style: normal;
    margin: 0px;
}

.main {
    align-items:center;
    background-color: $white-color;
    border-radius:3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin: 35px auto 15px auto;
    overflow: hidden;
    padding: 0 15px 0 15px;
    width: 1140px;
    nav{
        align-items:center;
        display:flex;
        height: 67px;
        justify-content: flex-end;
        margin-top:10px;
        width:100%;
        input{
            border: 1px solid #ccc;
            border-radius:4px;
            color:#555;
            font-family: $font;
            font-size:14px;
            height:20px;
            line-height:1.4;
            margin-bottom:15px;
            margin-right:15px;
            padding: 6px 12px;
            width: 330px;
            &:focus{
                border-color: $focus-color;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.05), 0 0 5px rgba(157, 195, 224,.5);
                outline: 0;
                
            }
        }
    }
}

h1 {
    color: $white-color;
    font-style: normal;
    font-weight: 500;
    padding-left: 20px;
}

.main-header {
    align-items: center;
    background-color: $nav-color;
    display: flex;
    height: 65px;
    justify-content: space-between;
    margin-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    .addButton{
        margin-right: 15px;
    }
}

.table-container{
    display:flex;
    width:98%;
    table{
        border-collapse: collapse;
        margin-bottom:20px;
        margin-top:15px;
        width:100%;
        tr{
            font-style: normal;
            width:100%;
            &:nth-child(1){
                &:hover{
                    background-color: $white-color;
                }
            }
            &:hover{
                background-color: $body-hover-color;
            }
            &:nth-child(2n){
                background-color:$table-gray-color;
                &:hover{
                    background-color: $body-hover-color;
                }
            }
            th{
                border-bottom: 2px solid #ddd;
                color: $text-color;
                text-align: left;
                padding:12px 15px;
            }
            td{
                text-align: left;
                padding:12px 15px;
                color: $text-color;

            }

        }
    }
}

footer{
    margin-bottom:20px;
}