.modal {
    background-color: #7b7b7b;
    opacity: .7;
    display: flex;
    justify-content: center;
    height:100vh;
}

.modal-form {
    width: 400px;
    height: 491px;
    margin-top:30px;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-sizing: border-box;
    overflow: hidden;
    header {
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
        h2{
            margin:0;
            color: $text-color;
            font-size:18px;
            line-height: 1.4;
            font-style: normal;
            font-weight:500;
        }
    }
    form{
        height: 416px;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        label{
            margin-bottom:5px;
            font-size:13px;
            color: $text-color;
            font-style: normal;
        }
        input{
            box-sizing:border-box;
            margin-bottom:15px;
            padding:6px 12px;
            width:338px;
            border-radius:2px;
            box-shadow:none;
            border-color: #ddd;
            color:#555;
            font-size:14px;
            border: 1px solid #ccc;
            &:focus{
                box-shadow: none;
                border-color:#ddd;
                outline:0;
            }
        }
        textarea{
            box-sizing:border-box;
            margin-bottom:15px;
            padding:6px 12px;
            width:338px;
            border-radius:2px;
            box-shadow:none;
            border-color: #ddd;
            color:#555;
            font-size:14px;
            border: 1px solid #ccc;
            &:focus{
                box-shadow: none;
                border-color:#ddd;
                outline:0;
            }
        }
    }

    footer{
        width:100%;
        height:75px;
        background-color: $modal-footer-background;
        display:flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px 30px;
        box-sizing: border-box;
        margin-bottom:0;
    }
}

.delete{
    height: 239px;
}

.delete-question{
    padding: 20px 30px;
    p{
        margin-bottom:10px;
        color: $text-color;
        &:nth-child(1){
            font-size: 13px;
        }
        &:nth-child(2){
            font-size:11.05px;
            color: #8a6d3b;
            margin-top:0;
        }
    }
}