.yellow {
  color: #FFC720;
  transition: transform 0.2s ease;
}
.yellow:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: transform 0.2s ease;
}

.red {
  color: #F5564B;
  transition: transform 0.2s ease;
}
.red:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: transform 0.2s ease;
}

.addButton {
  align-items: center;
  background-color: #5cb85c;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  display: flex;
  font-family: "Varela Round", sans-serif;
  height: 35px;
  justify-content: space-around;
  padding: 0 10px 0 10px;
  width: 172px;
}
.addButton:hover {
  background-color: #398439;
  cursor: pointer;
}

.deleteButton {
  align-items: center;
  background-color: #F5564B;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  display: flex;
  font-family: "Varela Round", sans-serif;
  height: 35px;
  justify-content: space-around;
  padding: 0 10px 0 10px;
  width: 115px;
}
.deleteButton:hover {
  background-color: #f2291b;
  cursor: pointer;
}

.check {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.checked {
  display: none;
}

.unchecked {
  display: block;
  position: absolute;
}

.checkbox {
  display: none;
}
.checkbox:checked + .checked {
  color: #03A9F4;
  display: block;
  position: absolute;
  z-index: 1;
}

.close {
  align-items: center;
  background-color: #FFFFFF;
  border: none;
  color: #000;
  display: flex;
  font-size: 21px;
  font-weight: 700;
  justify-content: center;
  opacity: 0.2;
}
.close:hover {
  cursor: pointer;
  opacity: 0.5;
}

.cancelButton {
  background-color: #d4d4d4;
  border-color: #8c8c8c;
  border-radius: 2px;
  border-style: solid;
  color: #333;
  font-weight: 400px;
}
.cancelButton:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  cursor: pointer;
}

.saveButton {
  background-color: #5bc0de;
  border-color: #46b8da;
  border-radius: 2px;
  border-style: solid;
  color: #fff;
  font-weight: 400px;
}
.saveButton:hover {
  background-color: #31b0d5;
  border-color: #269abc;
  cursor: pointer;
}

.modal-button {
  font-size: 14px;
  height: 34px;
  margin-left: 5px;
  width: 100px;
}

.transparent-button {
  background: #fff;
  border: none;
}
.transparent-button:focus {
  outline: none;
}

body {
  background-color: #F5F5F5;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  margin: 0px;
}

.main {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35px auto 15px auto;
  overflow: hidden;
  padding: 0 15px 0 15px;
  width: 1140px;
}
.main nav {
  align-items: center;
  display: flex;
  height: 67px;
  justify-content: flex-end;
  margin-top: 10px;
  width: 100%;
}
.main nav input {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  height: 20px;
  line-height: 1.4;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 6px 12px;
  width: 330px;
}
.main nav input:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 5px rgba(157, 195, 224, 0.5);
  outline: 0;
}

h1 {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  padding-left: 20px;
}

.main-header {
  align-items: center;
  background-color: #435D7D;
  display: flex;
  height: 65px;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}
.main-header .addButton {
  margin-right: 15px;
}

.table-container {
  display: flex;
  width: 98%;
}
.table-container table {
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%;
}
.table-container table tr {
  font-style: normal;
  width: 100%;
}
.table-container table tr:nth-child(1):hover {
  background-color: #FFFFFF;
}
.table-container table tr:hover {
  background-color: #F5F5F5;
}
.table-container table tr:nth-child(2n) {
  background-color: #f9f9f9;
}
.table-container table tr:nth-child(2n):hover {
  background-color: #F5F5F5;
}
.table-container table tr th {
  border-bottom: 2px solid #ddd;
  color: #566787;
  text-align: left;
  padding: 12px 15px;
}
.table-container table tr td {
  text-align: left;
  padding: 12px 15px;
  color: #566787;
}

footer {
  margin-bottom: 20px;
}

.modal {
  background-color: #7b7b7b;
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 0.7;
}

.modal-form {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 491px;
  margin-top: 30px;
  overflow: hidden;
  width: 400px;
}
.modal-form header {
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.modal-form header h2 {
  color: #566787;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
}
.modal-form form {
  display: flex;
  flex-direction: column;
  height: 416px;
  padding: 20px 30px;
}
.modal-form form label {
  color: #566787;
  font-size: 13px;
  font-style: normal;
  margin-bottom: 5px;
}
.modal-form form input {
  border: 1px solid #ccc;
  border-radius: 2px;
  border-color: #ddd;
  box-shadow: none;
  box-sizing: border-box;
  color: #555;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 6px 12px;
  width: 338px;
}
.modal-form form input:focus {
  border-color: #ddd;
  box-shadow: none;
  outline: 0;
}
.modal-form form textarea {
  border: 1px solid #ccc;
  border-color: #ddd;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  color: #555;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 6px 12px;
  width: 338px;
}
.modal-form form textarea:focus {
  box-shadow: none;
  border-color: #ddd;
  outline: 0;
}
.modal-form footer {
  align-items: center;
  background-color: #ecf0f1;
  box-sizing: border-box;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  margin-bottom: 0;
  padding: 20px 30px;
  width: 100%;
}

.delete {
  height: 239px;
}

.delete-question {
  padding: 20px 30px;
}
.delete-question p {
  color: #566787;
  font-style: normal;
  margin-bottom: 10px;
}
.delete-question p:nth-child(1) {
  font-size: 13px;
}
.delete-question p:nth-child(2) {
  color: #8a6d3b;
  font-size: 11.05px;
  margin-top: 0;
}

/*# sourceMappingURL=main.css.map */
